// COLORS
$dark: rgb(60, 60, 60);
$light: rgb(200, 200, 200);
$focus: #c68aff;
$shadows: rgb(250, 61, 105);

//Header
$header-bg: linear-gradient(rgb(30, 30, 30), rgba(255, 255, 255, 0));
$head-btn-bg: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));